<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662065718590-if3640upgc8jkcbvde94g90pohj8nii4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662065718590-if3640upgc8jkcbvde94g90pohj8nii4</string>
	<key>API_KEY</key>
	<string>AIzaSyBAmzLPBKvggH5r0KrSx-ZuIwQ2SxTBBME</string>
	<key>GCM_SENDER_ID</key>
	<string>662065718590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vey.userapp</string>
	<key>PROJECT_ID</key>
	<string>userapp-644ff</string>
	<key>STORAGE_BUCKET</key>
	<string>userapp-644ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662065718590:ios:bfe1f9f3a21b746065b86f</string>
	<key>DATABASE_URL</key>
	<string>https://userapp-644ff.firebaseio.com</string>
</dict>
</plist>